[user]
    name = Henry Stokeley
    email = hstokeley@gmail.com
[merge]
    tool = vimdiff
[push]
    default = current
[alias]
    co = checkout
    cob = checkout -b
    br = branch
    st = status -s
    ci = commit
    cim = commit --amend
    d = diff
    dc = diff --cached
    a = add
[core]
    editor = vim
